*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6,p,a{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
/* begin styles header*/

.main-container{
    max-width: 1350px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 0;
    border-bottom: 0.5px solid rgb(233, 230, 230);
    box-shadow: 0 0 10px rgb(233, 230, 230);
}

.header-left{
width: 180px;
display: flex;
align-items: center;
justify-content: space-between;

}

.header-left a{
    color: black;
}

.header-center{
    width: 410px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header-center a{
    color: black;
}